body > div {
    margin-bottom: 50px;
}

img {
    width: 40px;
    height: auto;
}

hr {
    border: 5px solid black;
    border-radius: 5px;
    opacity: .5;
}

#participantDiv {
    margin-top: 100px;
}

.second {
    transform: rotate(-180deg) scaleY(-1);
}
table {
    text-align: center;
}
td, th {
    vertical-align: middle;
}

.header {
    display: flex;
    justify-content: space-between;
}

.deleteBasket {
    width: 60px;
    height: 60px;
    background-image: url("../../images/delete.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}
.deleteBasket:hover, .deleteBasket:focus {
    background-color: rgba(128,128,128,0.5);
}
.deleteBasketSmall {
    width: 40px;
    height: 40px;
}