# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/desktop.ini
.idea
/images/desktop.ini
/database/desktop.ini

/vendor/
/composer.lock
/composer.json
/delete/desktop.ini
/create/desktop.ini
/src/desktop.ini
/src/Entity/desktop.ini
/src/Secrets/desktop.ini
/public/desktop.ini
/public/delete/desktop.ini
/public/create/desktop.ini
/config/desktop.ini
