body {
    padding: 5vh 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#create {
    width: max-content;
    display: flex;
    flex-direction: row;
    margin: 50px 0;
}
#create > form {
    margin: 0 20px;
}