body {
    padding: 5vh 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("images/rock-paper-scissors.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255,255,255,0.6);
    border-radius: 20px;
    padding: 30px;
}
h1 {
    font-weight: bold;
    margin: 0;
}
#create, #delete {
    width: max-content;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    margin: 10px 0;
}
#create {
    margin-top: 50px;
}
#delete {
    margin-bottom: 50px;
}
#create > form > button, #delete > form > button {
    width: 100%;
}


@media (max-width: 700px) {
    #create, #delete {
        grid-auto-columns: max-content;
        grid-auto-flow: row;
        grid-row-gap: 10px;
    }
}